<footer>
    <div class="footer-info">
        <a href="/">
            <h3>Pi Academy<br></h3>
        </a>
        <p>By Varela Agustin</p>  
    </div>
    <div class="footer-social">
        <a target="_blank" href="https://www.twitch.tv/search?term=axie_piacademy"><i class="fab fa-twitch"></i></a>
        <a target="_blank" href="https://discord.com/invite/6qV4gJPzRC"><i class="fab fa-discord"></i></a>
        <a target="_blank" href="https://twitter.com/Axie_PiAcademy"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="footer-menu">
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/posts">Publicaciones</a> </li>
                <li> <a href="/about">Acerca De</a> </li>
                <li>Cartas</li>
            </ul>
        </nav>
    </div>
</footer>